/*********** Base styles **********/
*{
	box-sizing: border-box;
}

h1{
	font-family: sans-serif;
	text-align: center;
}

body{
	width: 80%;
}

/* Simple Responsive Framework */
.row{
	width: 100%;
}

/*********** Large devices only ***********/
@media (min-width: 992px) {
	.col-lg-4{
		width: 30%;
		float: left;
		color: blue;
	}
}

/*********** Medium devices only ***********/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6{
		width: 50%;
		float: left;
	}
}

.box{
	background-color: #999999;
	border: 1px black solid;
	margin-left: 10px;
	margin-bottom: 20px;
	position: relative;
}
.title{
	border: 1px black solid;
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	height: 10%;
}